#codeigniter 3
writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
!writable/logs/.htaccess

# Custom htaccess file
public/.htaccess
storage/current/*
storage/history/*
public/source/*
